{{ if stat (joinPath .chezmoi.homeDir "Development/dot.files") -}}
sourceDir = "{{ .chezmoi.homeDir }}/Development/dot.files"
{{ else -}}
sourceDir = "{{ .chezmoi.homeDir }}/development/dot.files"
{{ end -}}
