[submodule "pack/mseppae/start/fzf.vim"]
	path = pack/mseppae/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/mseppae/start/vim-fugitive"]
	path = pack/mseppae/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/mseppae/start/vim-endwise"]
	path = pack/mseppae/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "pack/mseppae/start/ale"]
	path = pack/mseppae/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "pack/mseppae/start/you_complete_me"]
	path = pack/mseppae/start/you_complete_me
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "pack/mseppae/start/vim-airline"]
	path = pack/mseppae/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/mseppae/start/vim-airline-themes"]
	path = pack/mseppae/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/mseppae/start/vim-gitgutter"]
	path = pack/mseppae/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/mseppae/start/delimitmate"]
	path = pack/mseppae/start/delimitmate
	url = https://github.com/Raimondi/delimitMate
[submodule "pack/mseppae/start/vim-polyglot"]
	path = pack/mseppae/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/mseppae/start/racer-rust"]
	path = pack/mseppae/start/racer-rust
	url = https://github.com/racer-rust/racer
[submodule "pack/mseppae/start/gundo"]
	path = pack/mseppae/start/gundo
	url = https://github.com/sjl/gundo.vim
[submodule "pack/mseppae/start/vim-colors-solarized"]
	path = pack/mseppae/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
