[submodule "git/git-flow-completion"]
	path = git/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion
[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/Vundle.vim
